header {
  width: 100%;
}

header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header ul li {
  list-style: none;
  margin: 0 0.2rem;
  font-size: 15px;
  cursor: pointer;
}

header ul li:hover {
  text-decoration: underline;
}
